*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Display";
    src: url(PlayfairDisplay-VariableFont_wght.ttf);   
}

@font-face {
    font-family: "Newsrader";
    src: url(Newsreader-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(Poppins-ExtraLight.ttf);
}


.container-encabezado{
    color: #333333;
    background-color: #A9A9AF;   
    display: flex;
    padding: 20px;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;

}

.Nombre{
    min-width: 200px;
    flex: 1;
    font-size: 22px;
    font-weight: 500;
    margin-left: 30px;
    font-family: "Display";
}

.botonheader{
    color: #333333;
    text-decoration: none;
    font-family: "Newsrader";
}

.botonheader:hover{
    color:teal
}

.container-encabezado nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}





.PageAceites {
    background-color: #f0ebeb; 
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.Aceitesdeoliva {
    text-align: center;
    margin: 0px;
    padding: 50px;
}

.tituloprincipal {
    font-family: "Display";
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
}

.Aceitesdeoliva p {
    font-family: "Poppins";
    margin: 0;
    padding-top: 15px;
    color: #333333;
    font-size: 19px;
}









.MediaPageAceites {
    background-color: #f0ebeb;
    justify-content: center;
}

.ContenedorMedia {

    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
}



.detalleMedia, .imgMedia {
    width: 50%;
}


.detalleMedia {
    font-family: "Poppins";
    color: #333333;
    height: auto;
    line-height: 2 ;
    text-align: justify;
    margin: 0px;
    padding-left: 45px;
    padding-right: 35px;
    font-size: 15px;

}

.imgMedia img {

    width: 90%;
    margin: 0;
    height: auto;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
}

.imgMedia {
    width: 100%;
    max-width: 700px;
}

.Fotosaceites img:hover {
    transform: scale(1.1); 
    cursor: pointer; 
  }





.ContenidoProductos {
    background-color: #f0ebeb;
    justify-content: center;
}


.ContenedorProductos {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 0;
    padding-right: 20px;
}


.Productos {
    font-family: "Poppins";
    color: #cbb912 ;
    font-size: 70px;
    line-height: 2 ;
    margin: 0;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 3px;
    border: #333333;


}
.Productos, .Fotosaceites {
    width: 50%;
}

.Fotosaceites img {
    width: 100%;
}



.Fotosaceites p {
    font-family: "Poppins";
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}





.footerPage {
    max-width: auto;
    margin: 0;
    background-color: #6F7302;
    padding: 20px;
    margin: 0px;
}
.NombreComercio h5{
    width: 30%;
    font-family: "Display";
    color: #eeeeee;
    font-size: 20px;
    margin: 0;
    padding-left: 35px;
    padding-top: 20px;
}

.ContenedorIconos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 20px;
    padding-left: 250px;
}

.ContenedorIconos div p {
    margin: 0;
    font-size: 15px;
    color: #F0E6DB;
}

.ContenedorIconos i {
    margin-right: 8px;
    font-size: 18px;
    color: #F0E6DB;
}