*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Display";
    src: url(PlayfairDisplay-VariableFont_wght.ttf);   
}

@font-face {
    font-family: "Newsrader";
    src: url(Newsreader-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(Poppins-ExtraLight.ttf);
}



.PageAceitunas {
    background-color: #eeeeee; 
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.AceitunasArauco {
    text-align: center;
    margin: 0px ;
    padding: 50px;
}


.TituloAceitunas {
    font-family: "Display";
    font-style: italic;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 25px;
}

.AceitunasArauco p {
    font-family: "Poppins";
    margin: 0;
    padding-top: 20px;
    color: #333333;
    font-size: 17px;

}









.MediaPageAceites {
    background-color: #f0ebeb;
    justify-content: center;
}

.ContenedorMedia {
    justify-content: center;
    padding-top: 20px;
}



.detalleMedia, .imgMedia {
    width: 100%;
}



.imgMedia img {

    width: 100%;
    margin: 0;
    height: auto;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;

}







.MasVendidos {
    background-color: #eeeeee; 
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.AceitunasMasVendidos p {
    text-align: center;
    margin: 0px ;
    padding: 0px;
    padding-top: 20px;
    font-family: "Poppins";
    font-size: 25px;
}










.ContenidoProductos {
    background-color: #f0ebeb;
    justify-content: center;
}


.ContenedorProductos {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
}



.Fotosaceitunas {
    width: 50%;
}

.Fotosaceitunas img {
    width: 100%;
}

.Fotosaceitunas img:hover {
    transform: scale(1.1); 
    cursor: pointer; 
  }

.Fotosaceitunas p {
    font-family: "Poppins";
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}





.ExperienciaHilal {
    background-color: #f0ebeb;
    justify-content: center;
}

.VisitaHilal {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 0px;
}

.Visitaguiada {
    width: 60%;
}

.IMGVisita {
    width: 40%;
}

.IMGVisita img {
    width: 100%;
    margin: 0px;
    height: auto;
    padding: 40px;
}

.Visitaguiada {
    font-family: "Poppins";
    font-size: 15px;
    line-height: 2 ;
    text-align: justify;
    box-sizing: border-box;
    margin-left: 45px;
    margin-top: 40px;
    margin-right: 20px;
}


.footerPage {
    max-width: auto;
    margin: 0;
    background-color: #6F7302;
    padding: 20px;
    margin: 0px;
}
.NombreComercio h5{
    width: 30%;
    font-family: "Display";
    color: #eeeeee;
    font-size: 20px;
    margin: 0;
    padding-left: 35px;
    padding-top: 20px;
}

.ContenedorIconos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 20px;
    padding-left: 250px;
}

.ContenedorIconos div p {
    margin: 0;
    font-size: 15px;
    color: #F0E6DB;
}

.ContenedorIconos i {
    margin-right: 8px;
    font-size: 18px;
    color: #F0E6DB;
}

